.news-cards-default{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
    justify-content: space-evenly;

}


.news-card{
    width: 23%;
    margin: 5px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 30px 10px;
    background-color: rgba(21, 78, 90, 0.3); /* Brighter background color with opacity */
    border: 1px solid black; /* Border (black) */
    box-shadow: 0 10px 10px 0 rgba(7, 28, 32, 0.3);
}

.news-card img{
    width: 100%;
    height: 15vw;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: scale(1.1);

}

.card-title{
    padding: 10px 15px 15px;
    color:  rgb(174, 187, 210);
    font-weight: 600;
    font-family: ;
}

.card-description{
    color: rgb(140, 140, 140);
}

.card-source{
    color:#8CEFE9;
    font-size: 0.7rem;
    font-weight: 300;
}

.card-button{
    border: 1px solid #8B95A6;
    border-radius: 15px;
    color: #8B95A6;
    padding:  10px 15px;
    background:transparent;
    float: right;
    margin:0px 15px  15px 10px;
}

.card-button:hover{
    background-color: #8CEFE9;
    color: black;
}

.card-date{
    color:#8B95A6;
    font-size: 0.7rem;
}

.left-source{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-bottom{
    display: flex;
    justify-content: space-between;
    
}




@media screen and (max-width: 700px) {

    
}







